*.mp4 filter=lfs diff=lfs merge=lfs -text
Wuthering_wave/video/* filter=lfs diff=lfs merge=lfs -text
d:/Github/ElectrophoresisZ.github.io/Wuthering_wave/video/jinxi_github2.mp4 filter=lfs diff=lfs merge=lfs -text
d:/Github/ElectrophoresisZ.github.io/Wuthering_wave/video/jinxi_github3.mp4 filter=lfs diff=lfs merge=lfs -text
